<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <fa-icon [icon]="faBars" aria-label="Sidenav toggle icon"></fa-icon>
      </button>
      <span>
        <img
          src="../../assets/images/griffin.png"
          alt="Griffin"
          width="50"
          class="mr-2"
        />Griffin Scrum</span
      >
      <a
        mat-icon-button
        aria-label="Github icon button"
        class="ml-auto pt-1"
        href="https://github.com/shhdharmen/griffin-scrum"
        target="_blank"
        type="noopener noreferrer"
      >
        <fa-icon [icon]="faGithub" aria-label="Github icon" size="2x"></fa-icon>
      </a>
    </mat-toolbar>
    <div class="container-fluid wrapper overflow-hidden">
      <div class="row h-100">
        <div class="col-6 px-0">
          <app-generator-wrapper></app-generator-wrapper>
        </div>
        <div class="col-6 px-0">
          <app-preview-wrapper></app-preview-wrapper>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
